@font-face {
    font-family: 'norseregular';
    src: url('../fonts/norse-webfont.woff2') format('woff2'),
         url('../fonts/norse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norsebold-webfont.woff2') format('woff2'),
         url('../fonts/norsebold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: row;
    height: 130vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container
{
    width: 30%;

    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container .title-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(0, 0, 0, 40%);
    backface-visibility: 20%;

    height: 150px;
    width: 100%;

    margin-top: 200px;
}

.left-container .side-image
{
    height: auto;
    max-width: 100px;
}

.title-container h1
{
    color: white;
    font-size: 6em;
    font-family: "norsebold";
}

.left-container .img-credits
{
    color: white;
    margin-top: auto;
    margin-bottom: 20px;
}

.img-credits a
{
    color: white;
}

.right-container
{
    width: 70%;
}

.right-container .description
{
    width: 770px;
    margin: 150px 0 50px 40px;
}

.description h1
{
    font-size: 1.6em;
    margin-bottom: 30px;
}

.description p
{
    font-size: 1.6em;
    font-weight: bold;
}

.right-container .form-container
{
    border-top: 1px solid black;
    border-bottom:  1px solid black;

    padding: 20px 0 30px 50px;

    margin-bottom: 30px;
}

.form-container p
{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container .sign-up-form
{
    display: flex;
    flex-direction: column;
}

.sign-up-form .form-row
{
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
}

.form-row .form-element
{
    display: flex;
    flex-direction: column;

    margin-right: 110px;
}

.form-element label
{
    font-size: 0.9em;
}

.form-element input
{
    font-size: 1.1em;

    padding: 5px 10px;

    width: 280px;
    border-radius: 8px;
    border-color: rgba(250, 239, 239, 0.67);
    border: 1px solid;
}

.form-element input:focus
{
    border-color: blue;
    box-shadow: 2px 2px 5px gray;
}

.form-element input:user-invalid
{
    border-color: red;
}

.right-container .form-footer
{
    margin-left: 50px;
}

.form-footer button
{
    background-color: #596D48;
    color: white;
    font-size: 1.3em;
    font-weight: bold;

    border: none;
    border-radius: 8px;
    width: 260px;

    padding: 14px 0;
    margin-bottom: 40px;
}

.form-footer p
{
    font-size: 1.2em;
}

.form-footer a
{
    color: #596D48;
    font-weight: bold;

    text-decoration: none;
}